.main-wrapper{
	margin-top:-40px !important;
}

.hero-content-wrap{
	margin-top:47px!important;
	padding-top:10px;
} */

.fw-bold{
	font-family: vazir !important;
}

.lead{
	padding-top:10px;
}
.imgpost{
	width:300px !important;
}